<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color='primary'></ion-menu-button>
    </ion-buttons>
    <ion-title>FazendaTec</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Status:</ion-label>
    <ion-text class="ion-text-uppercase" color="success">{{ status }}</ion-text>
  </ion-item>

  <ion-card>
    <img src="../assets/logo.png" />
  </ion-card>
  <div *ngIf="status; then thenBlock else elseBlock"></div>
  <ng-template #thenBlock>
    <ion-button (click)="desligar()">Desligar</ion-button>
  </ng-template>
  <ng-template #elseBlock>
    <ion-label>
      <ion-button (click)="acionar()">Ligar</ion-button>
    </ion-label>
  </ng-template>

  <div *ngIf="!status else loading">
  </div>

  <ng-template #loading>
    <div>
      <ion-icon color="primary" name="water"></ion-icon>
    </div>
  </ng-template>

</ion-content>